{% extends "base_email.html" %}

{% comment %}
    {% block title %}Invitation to join {{invitation.company.name}} on {{site_name}}{% endblock %}
{% endcomment %}

{% block content %}
    <h1 style="margin-bottom: 24px; margin-block-end: 24px; margin-top: 0; margin-block-start: 0; word-break: break-word; font-family: 'Roboto', sans-serif; color: #3b507d; font-size: 34px; text-align: left; line-height: 1.24; letter-spacing: 0.25px; font-weight: normal;">
        Join your team on Fleetpal
    </h1>
    <font style="margin: 0; font-size: 16px; line-height: 1.5; letter-spacing: 0.15px; color: #3b507d; font-family: 'Roboto', sans-serif;" face="'Roboto', sans-serif" color="#3b507d" size="16px">
        You’re receiving this email because you’ve been invited by <span style="color: #2979ff">{{ invitation.created_by.email }}</span> to join {{site_name}}.
    </font>

    <table align="center" cellspacing="0" cellpadding="0" border="0" width="100%" style="text-align: center; width: 100%; padding-top: 32px; padding-bottom: 40px; -premailer-width: 100%;">
        <tbody>
            <tr>
                <td style="word-break: break-word; font-family: 'Roboto', sans-serif; font-size: 16px;">
                    <a class="button"
                        style="font-weight: 500; font-size: 15px; line-height: 1.73; letter-spacing: 0.46px; color: #FFF; background-color: #2979ff; border-top: 8px solid #2979ff; border-right: 22px solid #2979ff; border-bottom: 8px solid #2979ff; border-left: 22px solid #2979ff; display: inline-block; text-decoration: none; border-radius: 4px; -webkit-text-size-adjust: none; box-sizing: border-box;"
                        href="{{action_url}}" target="_blank">
                            ACCEPT INVITATION
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <font color="#3b507d" face="'Roboto', sans-serif" size="16px" style="color: #3b507d; font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 1.5; letter-spacing: 0.15px;" >
        Sincerely, <br/>
        The Fleetpal Team
    </font>

    <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td style="padding-bottom: 5px;">

            </td>
        </tr>
    </table>

{% endblock %}

{% block link_text %}
    In case the above button does not work, please open the link below in your web browser.
{% endblock %}